<div class="container3">

	<form>
	  <fieldset class="form-register">

			<!-- <label for="InputFirstName">First Name: </label> -->
		  	<input type="text" class="input-box" id="InputFirstName" ng-model="newuser.fname" placeholder="First Name" required>
			<br>
			<!-- <label for="InputLastName">Last Name: </label> -->
		  	<input type="text" class="input-box" id="InputLastName" ng-model="newuser.lname" placeholder="Last Name" required>
			<br>
		   <!-- <label for="InputEmail">Email address: </label> -->
		   <input type="email" class="input-box" id="InputEmail" ng-model="newuser.email" placeholder="Email" required>
			<br>
			<!-- <label for="InputUsername">Username: </label> -->
	    	<input type="text" class="input-box" id="InputUsername" ng-model="newuser.username" placeholder="Username" required>
			<br>
	    	<!-- <label for="InputPassword">Password: </label> -->
	    	<input type="password" class="input-box" id="InputPassword" ng-model="newuser.password" placeholder="Password" required>
	    	
	    	
			<br>
	  </fieldset>

	</form>
	  <button type="submit" class="button" ng-click="vm.register(newuser)">Register</button>
	  <button type="submit" class="button" ng-click="vm.cancel()">Cancel</button>

</div>
